/* Inspiration from https://codepen.io/penry/pen/xEPKpj */
input:focus{
    outline: none;
}
.ww-background{
    background-color: #008080;
    color: #fff;
}
.ww-taskbar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    height: 38px;
    background-color: #bdbebd;
    border-top: 2px solid white;
    padding: 3px;
}
.ww-timedate{
    float: right;
    background-color: #bdbebd;
    color: black;
    font-family: sans-serif;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.ww-startmenu {
    display: none;
    position: fixed; bottom: 38px; left: 0;
    width: 200px; min-height: 400px;
    color: black; background-color: #bdbebd;
    border-top: 2px solid white; border-left: 2px solid white;
    border-bottom: 2px solid rgb(66, 66, 66); border-right: 2px solid rgb(66, 66, 66);
}
.ww-startmenu-side{
    height: 100%;
    background-color: #0d0099;
    display: inline-block;
    width: 25px;
    bottom: 0;
    left: 0;
    position: absolute;
}
.ww-startmenu-head{
    color: white;
    transform: rotate(-90deg);
    width: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    margin-bottom: 5px;
}

#startbutton {
    float: left;
    outline: none;
    color: black;
    width: 70px;
    height: 29px;
    text-align: right;
    font-family: sans-serif;
    padding: 4px;
    background-color: #bdbebd;
    background-image: url('../media/Windows_logo.webp');
    background-size: auto 70%;
    background-position: 5% 50%;
    background-repeat: no-repeat;
}
.startbutton-off {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}  
.startbutton-on {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}